<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.androidapp.getinline">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".CustomApplication">

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:replace="android:theme" />

        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.MainActivity">
            <!--<intent-filter>-->
                <!--&lt;!&ndash;<action android:name="android.intent.action.MAIN" />&ndash;&gt;-->

                <!--&lt;!&ndash;<category android:name="android.intent.category.LAUNCHER" />&ndash;&gt;-->
            <!--</intent-filter>-->
        </activity>

        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/AppTheme.LoginActionbar"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>

        <activity
            android:name=".activities.SignUpActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activities.UpdateActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activities.ResetActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activities.UpdateLoginActivity"
            android:label="@string/title_activity_update_login"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activities.UpdatePasswordActivity"
            android:label="@string/title_activity_update_password"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activities.RemoveUserActivity"
            android:label="@string/title_activity_remove_user"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>